<h1>BURGERS!!!</h1>

<h2>Burgers I want to DEVOUR!</h2>

<ul>
    {{#each hbsBurgerObject}}
        {{#unless this.devoured}}
            <li>{{this.burger_name}}
                <form class="devouring">
                    <input type="hidden" value{{this.id}}>
                    <button type="submit" data-id="{{this.id}}" data-newState="{{this.devoured}}" class="devour-btn">DEVOUR DA BURGER!!!</button>
                </form>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each hbsBurgerObject}}
        {{#if this.devoured}}
            <li>{{this.burger_name}}</li>
        {{/if}}
    {{/each}}
</ul>

<form class="new-burger">
    <input type="text" id="newBurgerName" name="burger_name">
    <button type="submit" class"newBurgerSubmit">Add new BURGER</button>
</form>